<!DOCTYPE html>
<html>
<head>
  <title>TimeMelange</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= image_tag "glyphicons-halflings-white-326b0668f7165b8eddb98b43a1c674fd.png" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div data-role="page">

	<div data-role="header" data-theme="c">
		<p>TimeMelange</p>
		<% if user_signed_in? %>
		   Signed in as <%= current_user.email %>.
		   <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
		<% else %>
		   <%= link_to "Sign up", new_user_registration_path %> 
		   <%= link_to "Login", new_user_session_path %>
                <% end %>
	</div><!-- /header -->
	
	<div data-role="navbar">
	  <ul>
            <li><a href="/public/home" class="ui-btn-active">Home</a></li>
	    <li><a href="/public/browse" class="ui-btn">Browse</a></li>
	    <li><a href="/public/showcase" class="ui-btn">Showcase</a></li>
	    <li><a href="/timelines/new" class="ui-btn">New Timeline</a></li>
	  </ul>
	</div><!-- /navbar -->

	<%= yield %>
	<div data-role="footer">
		<div><a href='public/terms'>Terms of use</a>
		<a href='public/contactus'>Contact Us</a></div>
	</div><!-- /footer -->
</div><!-- /page -->
</body>
</html>
